.group-container {
  width: 80vw;
  height: 90vh;
  background: white;
  border-radius: 25px;
}

.container-title {
  background: dimgrey;
  border-radius: 25px 25px 0 0;
}

#btnGoHome {
  border-radius: 50%; /* 圓角 100% 形成圓形 */
  width: 20px;
  height: 20px;
  border: 1px solid red;
  padding: 0; /* 移除額外的內間距 */
}

.title-container {
  width: 150px;
  margin-left: 15px;
}

.card {
  margin: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
